.root {
  padding: 20px 30px;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  box-shadow: 0px 14px 30px 0px #0000000d;
  margin-bottom: 52px;
}
.imgContainer {
  position: relative;
  margin-bottom: 14px;
}
.cardImg {
  width: 132px;
  height: 112px;
  margin-top: 40px;
  border-radius: 10px;
  display: inline-block;
}

.textContainer {
  font-size: 14px;
  font-weight: 400;
  width: 150px;
  height: 34px;
  overflow: hidden;
  margin-bottom: 14px;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.priceText {
  color: #bdbdbd;
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 2px;
}
.price {
  font-weight: 700;
  font-size: 14px;
}
