.container {
  margin: 40px 60px 0;
  display: flex;
  align-items: center;
}

.rootSearch {
  display: flex;
  box-sizing: border-box;
  padding: 15px;
  margin-left: auto;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  gap: 15px;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../../assets/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.search {
  outline: none;
  border: none;
}

.text {
  font-size: 32px;
  font-weight: 700;
}
