.likeBtn {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fef0f0;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 7px;
  background-image: url(../../assets/red-heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.notLikeBtn {
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;


  border: 1px solid #F8F8F8;
  
  
  width: 32px;
  height: 32px;
  border-radius: 7px;
  background-image: url(../../assets/grey-heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
