.root {
  display: flex;
  gap: 10px;
  background: none;
  border: none;
  align-items: center;
  transition: 0.1s;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    background-color: #e7f6ff;
    transition: 0.5s;
  }
}

.icon {
  width: 18px;
  height: 18px;
  background-image: url(../../assets/mark.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.text {
  color: #5c5c5c;
  font-weight: 400;
}
